DB_URL= # mandatory
DB_USERNAME=postgres # optional
DB_PASSWORD= # mandatory

REDIS_USERNAME= # optional if the instance does not require authentication
REDIS_PASSWORD= # optional if the instance does not require authentication

JWT_SECRET= # mandatory
